FLASK_ENV=development
SECRET_KEY=change-me

DATABASE_URL=postgresql+psycopg://homepantry_user:change-me@127.0.0.1:5432/homepantry

# Empty for LAN/root deployment.
# Example for path-based deployment:
# /homepantry
APPLICATION_PREFIX=

DEFAULT_TIMEZONE=Europe/Budapest
