[Unit]
Description=HomePantry Gunicorn service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=homepantry
Group=homepantry

WorkingDirectory=/opt/homepantry
Environment=HOME=/opt/homepantry
EnvironmentFile=/etc/homepantry/homepantry.env

ExecStart=/opt/homepantry/venv/bin/gunicorn \
    --workers 2 \
    --bind 0.0.0.0:8084 \
    --access-logfile - \
    --error-logfile - \
    wsgi:app

Restart=on-failure
RestartSec=3

PrivateTmp=true

[Install]
WantedBy=multi-user.target
